/* reset css */ 
 	*,*::before,*::after{margin:0;padding:0;box-sizing:border-box}:where([hidden]:not([hidden='until-found'])){display:none!important}:where(html){-webkit-text-size-adjust:none;color-scheme:dark light}@supports not (min-block-size:100dvb){:where(html){block-size:100%}}@media (prefers-reduced-motion:no-preference){:where(html:focus-within){scroll-behavior:smooth}}:where(body){block-size:100%;block-size:100dvb;line-height:1.5;font-family:system-ui,sans-serif;-webkit-font-smoothing:antialiased}:where(input,button,textarea,select){font:inherit;color:inherit}:where(textarea){resize:vertical;resize:block}:where(button,label,select,summary,[role='button'],[role='option']){cursor:pointer}:where(:disabled){cursor:not-allowed}:where(label:has(>input:disabled),label:has(+input:disabled)){cursor:not-allowed}:where(button){border-style:solid}:where(a){text-underline-offset:.2ex}:where(ul,ol){list-style:none}:where(img,svg,video,canvas,audio,iframe,embed,object){display:block}:where(img,picture,svg){max-inline-size:100%;block-size:auto}:where(p,h1,h2,h3,h4,h5,h6){overflow-wrap:break-word}:where(h1,h2,h3){line-height:calc(1em + 0.5rem)}:where(hr){border:none;border-block-start:1px solid;color:inherit;block-size:0;overflow:visible}:where(:focus-visible){outline:2px solid var(--focus-color,Highlight);outline-offset:2px}:where(.visually-hidden:not(:focus,:active,:focus-within,.not-visually-hidden)){clip-path:inset(50%)!important;height:1px!important;width:1px!important;overflow:hidden!important;position:absolute!important;white-space:nowrap!important;border:0!important}
/* soliloz style */
body{
  font-family: arial,sans-serif;
  font-size: 14px;
  padding: 10px;
}
h1{
  font-size: 24px;
  margin-bottom: 10px;
}

h2{
  font-size: 20px;
  margin-bottom: 10px;
}

input,textarea{
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  border: 2px solid;
}

.textarea{
  margin: 7px;
  padding: 0px;
  width: auto;
  height: 100px;
  resize:none;

}
textarea{
  margin: 0px;
  padding: 5px;
  width: 100%;
  height: 100px;
  resize:none;
}

.button{
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}
.button_wrap{
  text-align: right;
}
.solio{
  border-top: 1px  solid;
  border-left: 1px  solid;
  border-right: 1px  solid;
  
  padding: 5px;
  width: 500px;
  margin: 0 auto;
}
.tl_end{
  border-top: 1px  solid;
  width: 500px;
  margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  body{
    color: hsl(210,50%,80%);
    background-color: hsl(210,50%,5%);
  }
  input,textarea{
    background-color: hsl(210,50%,5%);
    border-color: hsl(210,50%,20%);
  }
  .button{
    color: hsl(210,50%,5%);
    background-color: hsl(210,75%,50%);
  }
  .button:hover{
    background-color: hsl(210,75%,40%);
  }
  .solio,.tl_end{
    border-color:  hsl(210,50%,20%);
  }
}